.form-container {
   margin-bottom: 20px;
}

input {
   width: 650px;
   padding: 15px;
   font-size: 18px;
   font-family: monospace;
}

input::placeholder {
   font-family: monospace;
}

button {
   padding: 15px;
   font-size: 18px;
   margin-left: 33px;
   box-sizing: border-box;
   font-family: monospace;
}