body {
   background: rgb(204, 196, 196);
}


.container {
   width: 920px;
   margin: 70px auto;
}


/* head */
.head {
   text-align: center;
}

.head img {
   width: 120px;
   height: 110px;
   margin-bottom: 20px;
}


/* form */
.form-container {
   text-align: center;
   margin-bottom: 20px;
}

input {
   width: 660px;
   border: none;
   padding: 15px;
   font-size: 18px;
   border-radius: 5px;
   font-family: monospace;
}

input::placeholder {
   font-family: monospace;
}

input:focus {
   outline: none;
}

button {
   border: none;
   padding: 14px;
   font-size: 18px;
   margin-left: 33px;
   border-radius: 5px;
   box-sizing: border-box;
   font-family: monospace;
   background-color: rgb(223, 233, 233);
}

button:hover {
   cursor: pointer;
}

button:focus {
   outline: none;
}


/* task */
.task-container {
   margin-top: 36px;
}

div.description {
   width: 580px;
   overflow: auto;
   font-size: 18px;
   margin-right: 18px;
}

div.task {
   padding: 23px;
   margin-top: 40px;
   margin-left: -25px;
   border-radius: 10px;
   font-family: monospace;
   display: flex;
   align-items: center;
   justify-content: space-around;
}